body {
  margin: 0;
  font-family: monospace, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  padding: 6px 12px;
}
a:visited {
  color: orange;
}
a:active {
  color: greenyellow;
}
a:hover {
  color: black;
}
/* a:{
  color: aqua;
} */
